<div class="bookmarks-content your-bookmarks">
  <% @bookmarks = current_user.bookmarks.all %>

  <% @bookmarks.each_with_index do |bookmark, index| %>

    <% if @bookmark == bookmark %>
<!--  -->

      <!-- update button -->
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="edit-bookmark">
          <input class="content" type="text" name="content" value="<%= @bookmark.name %>"/>
          <input class="content" type="text" name="content" value="<%= @bookmark.url %>"/>
          <input class="update-button" type="submit" value="Update"/>
        </div>
      </form>

      <!-- delete button -->
      <form action="/bookmarks/<%= index %>" method="post">
        <div class="edit-bookmark">
          <input type="hidden" name="_method" value="delete">
          <input class="delete-button" type="submit" value="Delete"/>
        </div>
      </form>


    <% else %>
      <div class="show-link-options">
        <p><a id="bookmark-name" href="<%= bookmark.url %>" target="_blank">
          <%= bookmark.name %></a></p>
        <p><a id="edit" href="/bookmarks/<%= bookmark.id %>/edit">Edit</a></p>
      </div>
    <% end %>
  <% end %>
</div>
