<ul class="network-list">
  <% @network = current_user.creators %>
  <% if @network.length < 10 %>
    <% @network = @network + current_user.admirers %>
  <% end %>
  <% @no_image = 'http://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Pessoa_Neutra.svg/2000px-Pessoa_Neutra.svg.png' %>

  <% @network.each do |friend| %>
    <% if friend.image == nil %>
      <li class="<%= friend.id %>">
        <img src="<%= @no_image %>">
        <p><%= friend.name %></p>
      </li>
    <% else %>
      <li class="<%= friend.id %>">
        <img src="<%= friend.image %>">
        <p><%= friend.name %></p>
      </li>
    <% end %>
  <% end %>
</ul>



<!-- facebook SDK -->
<!-- for the LOGIN/LOGOUT button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=760424657411595";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end of LOGIN/LOGOUT button plugin -->


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '760424657411595',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


