<%= erb :"/menu-options/_menu" %>

<div class="page-content my-bookmarks">
  <h1>My Bookmarks</h1>

  <!-- if a new user, invite to create first bookmark -->
  <% if !@viewing_other_bookmarks && @bookmarks.length == 0 %>
    <p>You have no bookmarks. Make your first!</p>

  <!-- else, show all bookmarks -->
  <% else %>

    <!-- only show first 12 -->
    <% @bookmarks.first(12).each_with_index do |bookmark, index| %>
      <div data-bookmark-id="<%= bookmark.id %>" data-bookmark-url="<%= bookmark.url %>" class="bookmark">
        <p>
          <a class="bookmark-name-link" href="/bookmarks/<%= bookmark.id %>" target="_blank"><%= bookmark.name %></a>
          <input class="bookmark-name-input" type="text" value="<%= bookmark.name %>">
          <a class="bookmark-url-link" href="/bookmarks/<%= bookmark.id %>"><%= bookmark.url %></a>
          <input class="bookmark-url-input" type="text" value="<%= bookmark.url %>">
          <span class="bookmark-action-edit">Edit</span>
          <span class="bookmark-action-delete">Delete</span>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<script src="/js/bookmarks.js"></script>
<%= erb :"/network/_network-sidebar" %>