<%= erb :"/menu-options/_menu" %>

<div class="page-content network">
  <button class="find-FB-friends-button" onclick="findFriends()" type="button">Find Facebook Friends</button>
  <h1>Find Friends</h1>

  <% first_twelve_users = User.all.first(12) %>
  <% first_twelve_users.each do |user| %>
    <p>
      <a href="/network/<%= user.id%>"><%= user.name %></a>

      <% if current_user.creators.include?(User.find(user.id)) %>
        <a class="remove-from-network" user="<%= user.id %>" href="/network/remove/<%= user.id %>">Remove</a>
        <a class="add-to-network hide" user="<%= user.id %>" href="/network/add/<%= user.id %>">Add</a>
      <% else %>
        <a class="remove-from-network hide" user="<%= user.id %>" href="/network/remove/<%= user.id %>">Remove</a>
        <a class="add-to-network" user="<%= user.id %>" href="/network/add/<%= user.id %>">Add</a>
      <% end %>
    </p>
  <% end %>
</div>

<%= erb :"/network/_network-sidebar" %>
<!-- <script src="js/network.js"></script> -->
