<div class="bookmarks-content your-bookmarks hide">

  <form id="create-bookmark" class="add-bookmark" action="/bookmarks" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="URL" name="url">
    <input type="submit" value="Add to Bookmarks" id="submit"/>
  </form>

  <% current_user.bookmarks.each do |bookmark| %>
    <div class="show-link-options">
      <p><a id="bookmark-name" href="<%= bookmark.url %>" target="_blank"><%= bookmark.name %></a></p>
      <p><a id="delete" href="/delete">Delete</a></p>
      <p><a id="edit" href="/edit">Edit</a></p>
    </div>
  <% end %>
</div>

<div class="bookmarks-content your-creators hide">
  <% current_user.creators.each do |creator| %>
    <p><a href="<%= creator.name %>" target="_blank"><%= creator.name %></a></p>
  <% end %>
</div>

<div class="bookmarks-content your-admirers hide">
  <% current_user.admirers.each do |admirer| %>
    <p><a href="<%= admirer.name %>" target="_blank"><%= admirer.name %></a></p>
  <% end %>
</div>